
body {
	font-family: "RobotoDraft","Roboto",sans-serif;
}
#header-top {
	background-color: #00897b;
	width: 100%;	
	height:75px;
}
#header {
	margin:auto;
	max-width: 800px;
	min-width: 300px;
	color: #ffffff;
	padding-top:25px;

}
#title {
	font-size: 24pt;
	text-align: left;
	margin-top:3px;
	float: left;
	padding-left: 20px;
}

#sub-title {
	font-size: 6pt;
	margin-top:15px;
	color: #666666;
	float:left;

}

#signin {
	margin-top: 50px;
	margin-bottom: 15px;
}


#main-content {
	margin:20px;
	margin-top:20px;
	
}

#about {
	font-size: 12pt;
	color:#444444;
	padding-bottom: 50px;
	line-height: 1.5em;
	padding-top: 25px;	
}

.content-header {
	font-size: 20pt;
	color:#444444;
	padding-bottom: 15px;
	padding-top: 15px;
	color: #009688;
}

.content-sub-header {
	padding-top:15px;
	padding-bottom:15px;
	font-size:12pt;
	color: #444444;
}

.section {
	margin:auto;
	max-width: 780px;
	min-width: 300px;
}

#add-comparison {
	padding-top: 15px;
	padding-bottom:15px;
}
#add-comparison .empty-message {
  padding: 5px 10px;
  text-align: center;
}

.suggestions {
	border: 1px solid #dcdcdc;
	background-color: #efefef;
}

.separator {
	border-top: 1px solid #dcdcdc;
	max-width: 800px;
	margin:auto;
	margin-bottom: 20px;
	margin-top: 10px;
}

#leftvote {
	width: 46%;
	float:left;
	margin-top:25px;
}
#rightvote {
	width: 46%;
	float:right;
	margin-top:25px;
}
#vote {
	padding-top:10px;
	padding-bottom: 10px;
}
#votedata {
	margin-top:170px;
	font-size: 12pt;
	padding: 10px;
	background-color: #f8f8f8;
	border: 1px solid #dcdcdc;
	text-align: center;

}
.votebox {
	border: 2px solid #dcdcdc;
	border-radius: 0px;
	height: 125px;
	background: #ffffff;
	cursor: pointer;
	margin:auto;
	text-align: center;
}

.votebox:hover {
	background-color: #00897b;
	color: #ffffff;
}

.input,
.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
	width: 100%;
    height: 40px;
    padding: 8px 12px;
    font-size: 14pt;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 0px;
    outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.twitter-typeahead {
	width: 100%;
    height: 30px;

}
.input:focus,
.tt-hint:focus {
	border: 1px solid #0097cf;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #00897b;
}

.btn {
	border:none;
	cursor: pointer;  
	font-family: Roboto;
	font-size: 14pt;
	background: #ffffff;
	padding: 0px;
}

.btn-blue {
  color: #2196F3;
}
.btn-blue:hover {
  color: #1565C0;
  text-decoration: none;
}

.btn-green {
  background: #00897B;
}
.btn-green:hover {
  background: #009688;
  text-decoration: none;
}

.btn-gray {
  background: #dcdcdc;
}
.btn-gray:hover {
  background: #efefef;
  text-decoration: none;
}